* {
    font-family: sans-serif;
    text-align: center;
}

.header {
  height: 30%;
  width: 100%;
}

.navbar {
  background-color: rgba(148, 148, 184, 0.6);
  width:  100%;
  height: 60px;
  padding-top: 2%;
  font-size: 30px;
}


.aboutme {
  background-color: #FF6699;
  height: 335px;
  font-family: sans-serif;
  color: white;
  font-size: 30px;
  padding: 30px 30px 30px 30px;
}




.skills {
  height: 330px;
  background-color: #FF6666;
  padding: 5%;
  color: white;
  font-size: 30px;
}

.resume {
  height: 200px;
  background-color: #66FF66;
  color: white;
  font-size: 30px;
  height: 200px;
}

.blog {
  height: 200px;
  background-color: #D0D0D0;
  padding: 5%;
  color: white;
  font-size: 30px;
}

.projects {
  background-color: #00CCFF;
  height: 200px;
  padding: 5%;
  color: white;
  font-size: 30px;
}

.funstuff {
  height: 200px;
  background-color: #FF9966;
  padding: 5%;
  color: white;
  font-size: 30px;

}

#footer li {
    display: inline;
}

#footer {
    width: 100%;
    height: 70px;
    background-color: #CC00CC;
    margin-top: 0px;
    margin-bottom: 0px;

}

.buttons {
    float: left;
    padding: 10px;
}

a:link {
  text-decoration: none;
  font-family: sans-serif;
  color: #FF00FF;
}