* {
  text-align: center;
  /*border: 1px solid black;*/
  margin: 0;
}

#body {
  font-size: 0;
  width: 100%;
}

#indexContent {
  font-size: 0;
}

#header {
  height: 30%;
  width: 100%;
}

header.jumplink {
  margin: 2%;
}

.navbar {
  background-color: #0099CC;
  width:  100%;
  height: 60px;
  padding-top: 1%;
  font-size: 30px;
}

#name {
  float: left;
  font-size: 20px;
}

#content {
  font-size: 0;
}

#projects {
  height: 100px;

}

#aboutme {

  height: 200px;
}

#skills {

  height: 200px;
}



#resume {

  height: 280px;
}

.box {
  font-size: 25px;
  color: black;
  padding: 2%;
  font-family: sans-serif;
  display: inline-block;
  vertical-align: top;

}

#footer {
    width: 100%;
    height: 70px;
    background-color: #CC00CC;
    padding: 5%
    font-size: 25px;
    font-family: sans-serif;
}

#stalk1 {
  float: left;
  font-size: 25px;
  color: white;
  margin-left: 25%;
  margin-top: 2%;
}

#stalk2 {
  float: right;
  font-size: 25px;
  color: white;
  margin-right: 25%;
  margin-top: 2%;
}

a.button {
    /*float: center;*/
    margin-top: 2%;
    display: inline-block;
}

a:link {
  text-decoration: none;
  font-family: sans-serif;
  color: white;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
  color: #00FF99;
}



